fastapi
uvicorn
sqlalchemy
pydantic
httpx
python-multipart
python-dotenv
black
psycopg2-binary
alembic
pgvector
openai
langchain-openai
langgraph-checkpoint-postgres
langchain-postgres
pytest
pytest-asyncio
python-jose[cryptography]
passlib[bcrypt]
langsmith
langgraph
slowapi